html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    font-family: 'Roboto', sans-serif;
    background-image: url(/images/17918.jpg);
    background-repeat: no-repeat;
}

header {
    grid-area: h;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

button {
    width: 100%;
    padding: 12px;
    margin: 20px 0px 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    background-color: mediumpurple;
    outline: none;
    font-weight: bold;
}

button:hover {
    background-color: rgb(129, 99, 190);
}

button:active {
    background-color: rgb(255, 255, 255);
    color: mediumpurple;
    font-weight: bold;
}

button:focus {
    border-color: rgb(0, 112, 216);
}


.container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas: 'h h h h'
                         'm m m m'
                         'f f f f';
}

.container-2 {
    padding: 50px 20px;
    border: 1px solid rgb(0, 185, 40);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background: rgb(255, 255, 255);
    height: 180px;
    max-width: 300px;
    margin: auto;
}

.container-2 div input {
    width: 82%;
    height: 40px;
    padding: 0px;
    border: 1px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    border: 1px solid rgb(198, 191, 202);
    padding: 0px 25px 0px 25px;
    font-size: 15px;
    color: rgb(104, 104, 104);
}

.container-2 div input:focus {
    border-color: rgb(0, 112, 216);
    outline: none;
}

::placeholder {
    color: rgb(194, 194, 194);
}

label {
    font-size: 14px;
    font-weight: bold;
    color: rgb(104, 104, 104);
}

h4 {
    color: rgb(235, 45, 45);
}

.error {
    color: rgb(235, 45, 45);
}

.success {
    color: rgb(61, 175, 76);
}

@media only screen and (max-width: 600px) {
    body {
        background-size: 1380px;
        background-repeat: no-repeat;
    }
  }

@media only screen and (min-width: 601px) {
    body {
        background-size: 1680px;
        background-repeat: no-repeat;
    }
  }

@media only screen and (min-width: 1451px) {
    body {
        background-size: 2560px;
        background-repeat: no-repeat;
    }
  }